<html>
    <head>
        <meta charset="utf-8"/>
        <script src="../angular.min.js" ></script>
        <script src="app.js"></script>
        <title>Name NameCalculator</title>
    </head>
    <body ng-app="CounterApp">
        <h1>The Digest Cycle</h1>
        <div ng-controller="CounterController">
            <button ng-click="showNumberOfWatchers()">
                Log # Watchers
            </button>
            <button ng-click="countOnce()">
                Count Once
            </button>
            <button ng-click="count()">
                Count
            </button>

            <div>
                Once Counter ; {{onceCounter}}
                Counter ; {{counter}}
            </div>
        </div>
    </body>
</html>